<div class="container">
  
  <h1>Welcome to BettURL</h1>
  <form method='post' action='/urls'>
    URL: <input name="original_url">
    <br>
    <br>
    <button>Shorten URL</button>
    <br>
</div>


