<div class="container">
  
  <h1>Here's your BettURL</h1>
  <a href="<%= @url.original_url %>"><%= @url.shortened_url %></a>
  <br>
  <p>Number of clicks on page: <%= @url.click_count %></p>
  

  <br>
</div>
